@using Aachen.Web.ViewModels
@model PagingViewModel

<link href="@Url.Content("~/Content/Paging.css")" rel="stylesheet" type="text/css" />

<div class="paging">
    @{
        int startPage = Model.SelectedPage <= 2
                            ? 1
                            : Model.SelectedPage > (Model.PageCount - 2)
                                  ? Model.PageCount - 4
                                  : Model.SelectedPage - 2;
        int endPage = Model.SelectedPage <= 2
                            ? 5
                            : Model.SelectedPage > (Model.PageCount - 2)
                                ? Model.PageCount
                                : Model.SelectedPage + 2;
    }
    
    @if (Model.SelectedPage > 3)
    {
        <a href="/Jokes/1" class="pageNumber">Начало</a>
        <span>...</span>
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        if (i == Model.SelectedPage)
        {
            <span class="selectedPage">@i</span>
        }
        else if (i == Model.SelectedPage - 1)
        {
            <a href=@string.Format("/Jokes/{0}", i) class="pageNumber">@i<span class="leftArrow">←</span></a>
        }
        else if (i == Model.SelectedPage + 1)
        {
            <a href=@string.Format("/Jokes/{0}", i) class="pageNumber"><span class="rightArrow">→</span>@i</a>
        }
        else
        {
            <a href=@string.Format("/Jokes/{0}", i) class="pageNumber">@i</a>
        }
    }
    
    @if (Model.SelectedPage < Model.PageCount - 2)
    {
        <span>...</span>
        <a href=@string.Format("/Jokes/{0}", Model.PageCount) class="pageNumber">Конец</a>
    }
</div>


